<!-- Footer -->
<footer class="row">
    <hr />
    <div class="large-6 columns">
        <p>{{ __("This website is <a href='%url%' target='_blank' title='Sophisticated, lightweight & simple CMS'>Built with Bolt</a>.",{'%url%':'http://bolt.cm'}) }}
        </p>
    </div>
    <div class="large-6 columns">
        {{ menu(
            identifier = 'main',
            template = 'partials/_sub_menu.twig',
            params = {'withsubmenus': false, 'class': 'inline-list align-right'}
        ) }}
    </div>

    {{ widgets('footer') }}

</footer>

<script src="{{ asset('js/jquery.min.js', 'theme') }}"></script>
<script src="{{ asset('js/foundation.js', 'theme') }}"></script>
<script src="{{ asset('js/app.js', 'theme') }}"></script>

<!-- Piwik -->
<script type="text/javascript">
    var _paq = _paq || [];
    /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
    _paq.push(['trackPageView']);
    _paq.push(['enableLinkTracking']);
    (function() {
        var u="//analytics.technischgut.de/";
        _paq.push(['setTrackerUrl', u+'piwik.php']);
        _paq.push(['setSiteId', '6']);
        var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
        g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
    })();
</script>
<!-- End Piwik Code -->